@page
@model Coffee.Web.Pages.SuccessModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<h1 class="text-success fw-bold">Successfully!</h1>
<a asp-controller="Product" asp-action="Products" class="btn btn-primary">Go to list</a>
